<div id="promoterEditPanel" class="col-md-12" ng-controller="PromoterDetailCtrl">
  <div class="col-md-12">
    <div class="col-md-3" id="promoterCoverImageWrapper">
      <div id="promoterCoverImage"
	   			 class="outline"
           ng-file-drop
           ng-file-change="uploadFile($files)"
           ng-model="promoter.cover_img"
           drop-available="dropSupported"
					 ng-file-select
					 accept="image/*">
        <img ng-src="{{ $scope.promoter.cover_img_file_name ? '/images/promoters/'+$scope.promoter.id +'/medium/' + $scope.promoter.cover_img_file_name : '/images/missing.png' }}"/>
      </div>
    </div>
    <div id="promoterDetails" class="col-md-6 top-padded left-padded" >
      <h2 id="promoterName" class="col-md-12">
        <span ng-show="!editName" ng-click="editName=true">
					{{$scope.promoter.name}}
        	<a href="#" class="edit">Edit</a>
				</span>
				<span ng-show="editName">
					<input type='textarea'
							 	 placeholder="Name here"
								 ng-model="promoter.name" class="col-md-10 fullHeight"/>
						<span class="fa fa-save col-md-2" ng-click="updatePromoter()"></span>
				</span>
      </h2>
    </div>
  </div>
</div>
