<div id="promotionEditPanel" class="col-md-12" ng-controller="PromotionDetailCtrl">
  <div class="col-md-12">
    <div class="col-md-3" id="promotionCoverImageWrapper">
      <div id="promotionCoverImage"
	   			 class="outline"
           ng-file-drop
           ng-file-change="uploadFile($files)"
           ng-model="cover_img"
           drop-available="dropSupported"
					 ng-file-select
					 accept="image/*">
        <img ng-src="{{ $scope.promotion.cover_img_file_name ? '/images/promotions/'+$scope.promotion.id +'/medium/' + $scope.promotion.cover_img_file_name : '/images/missing.png' }}"/>
      </div>
    </div>
    <div id="promotionDetails" class="col-md-6 top-padded left-padded" >
      <h2 id="promotionName" class="col-md-12">
        <span ng-show="!editName" ng-click="editName=true">
					{{$scope.promotion.name}}
        	<a href="#" class="edit">Edit</a>
				</span>
				<span ng-show="editName">
					<input type='textarea'
							 	 placeholder="Name here"
								 ng-model="$storage.current_promotion.promotion.name" class="col-md-10 fullHeight"/>
						<span class="fa fa-save col-md-2" ng-click="updatePromotion()"></span>
				</span>
      </h2>
    </div>
  </div>
</div>
